<!-- About -->
<section class="about js__about" id="about" data-scroll-visibility="full" data-scroll-visibility-direction="both">

    <!-- Description -->
    <div class="about__description l-container">

        <!-- Description Col -->
        <div class="about__description__col about__description__col--left">
            <h2 class="about__description__title t-tertiary-text t-tertiary-text--regular t-tertiary-text--opaque">About Me</h2>

            <!-- Impact text -->
            <h3 class="about__description__impact">My name is Andy Hook, I’m a digital illustrator, web designer & front-end developer currently based in <a href="https://en.wikipedia.org/wiki/East_Sussex" target="_blank">East Sussex</a>.</h3>

            <!-- Social -->
            <ul class="about__social">

                <!-- Twitter -->
                <li>
                    <a href="https://twitter.com/andy_hook" class="about__social__link" target="_blank" title="Twitter - andy_hook"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#social-twitter"></use></svg></a>
                </li>

                <!-- Linkedin -->
                <li>
                    <a href="https://uk.linkedin.com/in/andyahook" class="about__social__link" target="_blank" title="Linkedin - andyahook"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#social-linkedin"></use></svg></a>
                </li>

                <!-- Dribbble -->
                {{!-- <li>
                    <a href="https://dribbble.com/andyhook" class="about__social__link" target="_blank"  title="Dribbble - andyhook"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#social-dribbble"></use></svg></a>
                </li> --}}

                <!-- Github -->
                <li>
                    <a href="https://github.com/andy-hook" class="about__social__link" target="_blank" title="Github - andy-hook"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#social-github"></use></svg></a>
                </li>
            </ul>
        </div>

        <!-- Description Col -->
        <div class="about__description__col about__description__col--right">

             <!-- Full project detail -->
            <div class="about__description__detail">

                <p>I am a dedicated, enthusiastic and highly-motivated web professional with over 5 years commercial design and development experience. Formally educated in fine art, illustration and graphic design. I have spent over 10 years working with the Adobe suite of creative applications. I have a passion for art and design, specifically how these disiplines can integrate with modern web technology.</p>

                <p>I believe that good design is always in service of the user and it's my job to ensure that a project achieves both its business objectives and the needs of its users above all else.</p>

                <p>This site was built using <a href="http://www.metalsmith.io/" target="_blank">Metalsmith</a>, styles written in <a href="http://sass-lang.com/" target="_blank">SASS</a> and modular Javascript developed with <a href="http://requirejs.org/" target="_blank">RequireJS</a>. For those interested, the souce code is available on <a href="https://github.com/andy-hook" target="_blank">Github</a>. If you have any questions <a href="mailto:contact@andy-hook.co.uk">let me know</a>.</p>
            </div>
        </div>
    </div>

    <!-- Background -->
    <div class="about__background">

        <!-- Decorative gradient overlay -->
        <div class="about__background__gradient"></div>

        <div class="about__background__image__pos" data-bottom-top="transform: translate3d(0rem,9rem,0rem); opacity: 0;" data-center-top="opacity: 1; transform: translate3d(0rem,8rem,0rem);" data-top-bottom="transform: translate3d(0rem,0rem,0rem);">
            <div class="about__background__image"></div>
        </div>
        
    </div>

</section> <!-- /about -->