<!-- Footer -->
<footer class="footer js__footer">

    <!-- Signature -->
    <a href="{{absolute_path 'assets/files/andy-hook-cv.pdf'}}" target="_blank" class="footer__cv js-footer__cv" data-scroll-visibility="full" title="View or download my CV as a PDF">
        <div class="l-container">
            <span class="footer__cv__text"><strong>View</strong> my full CV</span>
            <div class="footer__cv__icon"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ui-download"></use></svg></div>
        </div>
    </a>

    <!-- Signature -->
    <div class="footer__signature" data-scroll-visibility="full">

        <!-- Graphic -->
        <div class="footer__signature__graphic">
            {{> signature-stroke-across}}
            {{> signature-stroke-left}}
            {{> signature-stroke-right}}
        </div>
        
        <!-- Background -->
        <div class="footer__signature__background">

            <!-- Gradient -->
            <div class="footer__signature__background__gradient footer__signature__background__gradient--left"></div>
            <div class="footer__signature__background__gradient footer__signature__background__gradient--right"></div>

            <!-- Image -->
            <div class="footer__signature__background__image-pos">
                <div class="footer__signature__background__image" data-bottom-top="transform: translate3d(0rem,5rem,0rem); opacity: 0;" data-bottom-bottom="transform: translate3d(0rem,0rem,0rem); opacity: 1;" data-anchor-target=".js__footer"></div>
            </div>
        </div>
    </div>

    <!-- Details -->
    <div class="footer__details" data-scroll-visibility="full">
        <div class="l-container">

            <!-- Social -->
            <ul class="footer___social">

                <!-- Twitter -->
                <li>
                    <a href="https://twitter.com/andy_hook" class="footer__social__link" target="_blank" title="Twitter - andy_hook"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#social-twitter"></use></svg></a>
                </li>

                <!-- Linkedin -->
                <li>
                    <a href="https://uk.linkedin.com/in/andyahook" class="footer__social__link" target="_blank" title="Linkedin - andyahook"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#social-linkedin"></use></svg></a>
                </li>

                <!-- Dribbble -->
                <li>
                    <a href="https://dribbble.com/andyhook" class="footer__social__link" target="_blank" title="Dribbble - andyhook"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#social-dribbble"></use></svg></a>
                </li>

                <!-- Github -->
                <li>
                    <a href="https://github.com/andy-hook" class="footer__social__link" target="_blank" title="Github - andy-hook"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#social-github"></use></svg></a>
                </li>
            </ul>

            <!-- Auxiliary (Email & back to top) -->
            <ul class="footer__details__aux">

                <!-- Email -->
                <li><a class="footer__details__aux__link" href="mailto:contact@andy-hook.co.uk">contact@andy-hook.co.uk</a></li>

                <!-- Back to top -->
                <li><a class="footer__details__aux__link" href="#home" data-scroll="href">Top</a></li>
            </ul>
        </div>
    </div>

</footer> <!-- /footer -->