<!-- Loading -->
<div class="loading">

    <!-- Effects wrapper -->
    <div class="loading__pos">
        <!-- Particle effects -->
        <div class="loading__particles__pos">
            <div class="loading__particles loading__particles--foreground"></div>
            <div class="loading__particles loading__particles--middleground"></div>
            <div class="loading__particles loading__particles--background"></div>
        </div>

        <!-- Spinner -->
        <div class="loading__spinner js__loading__spinner">

            <!-- Border -->
            <div class="loading__spinner__inner">

                <!-- Fill -->
                <div class="loading__spinner__inner__fill"></div>
            </div>

        </div> 
    </div>
</div> <!-- /loading -->