<!-- Skills -->
<section class="skills js__skills" id="skills" data-scroll-visibility="full">

    <div class="skills__item">

        <!-- Icon -->
        <div class="skills__item__icon">

            <div class="skills__item__icon__wrapper">
                <svg><use xlink:href="#skill-rwd"></use></svg>
            </div>

        </div>

        <!-- Title -->
        <h3 class="skills__item__title">Responsive Web Design</h3>

        <!-- Description -->
        <p class="skills__item__descr">
            Coupling aesthetic design sensibilities with user experience and front-end development allows me to build the best possible online experience from concept all the way to code delivery.
        </p>

    </div>

    <div class="skills__item">

        <!-- Icon -->
        <div class="skills__item__icon">
            <div class="skills__item__icon__wrapper">
                <svg><use xlink:href="#skill-illustration"></use></svg>
            </div>
        </div>

        <!-- Title -->
        <h3 class="skills__item__title">Digital Illustration</h3>

        <!-- Description -->
        <p class="skills__item__descr">
            By using modern Wacom input tools combined with traditional illustration and artistic techniques I deliver compelling digital illustration for both web and print media.
        </p>

    </div>

    <div class="skills__item">

        <!-- Icon -->
        <div class="skills__item__icon">

            <div class="skills__item__icon__wrapper">
                <svg><use xlink:href="#skill-front-end"></use></svg>
            </div>
        </div>

        <!-- Title -->
        <h3 class="skills__item__title">Front-End Development</h3>

        <!-- Description -->
        <p class="skills__item__descr">
        Utilizing the latest pre-processing technology, client side build tools and CSS architectural methodologies I produce clean, modular front-end code and mobile first web solutions.
        </p>

    </div>

</section> <!-- /skills -->