<!-- No javascript warning -->
<noscript>
	<a href="http://www.enable-javascript.com/" target="_blank" class="warning">
	    <div class="l-container">
	        <h2 class="t-tertiary-text t-tertiary-text--regular t-tertiary-text--pronounced warning__title">Javascript is disabled</h2>
	        <p class="warning__description">For a better experience <strong>please enable Javascript</strong>, click this bar to find out how.</p>
	    </div>
	</a>
</noscript>