// State classes
// --------------------------------------------------

// Nav
$s__nav-closed: '.s__nav-closed';
$s__nav-open: '.s__nav-open';
$s__overlay-visible: '.s__overlay-visible';
$s__nav-visible: '.s__nav-visible';
$s__nav-complete: '.s__nav-complete';
$s__nav-fixed: '.s__nav-fixed';

$s__nav-hero: '.s__nav-hero';
$s__nav-bar: '.s__nav-bar';

$s__project-closed: '.s__project-closed';
$s__project-open: '.s__project-open';

// Hero
$s__hero-fixed: '.s__hero-fixed';
$s__hero-static: '.s__hero-static';

// Picturefill
$s__pf-loading: '.s__pf-loading';
$s__pf-loaded: '.s__pf-loaded';

// Loading
$s__doc-loading: '.s__doc-loading';
$s__doc-loaded: '.s__doc-loaded';

$s__doc-show-loading: '.s__doc-show-loading';

$s__doc-static: '.s__doc-static';

$s__doc-slide-next: '.s__doc-slide-next';
$s__doc-slide-prev: '.s__doc-slide-prev';

$s__doc-wait-right: '.s__doc-wait-right';
$s__doc-wait-left: '.s__doc-wait-left';

$s__doc-sliding: '.s__doc-sliding';

$s__base-effects: '.s__base-effects';
$s__enhanced-effects: '.s__enhanced-effects';
$s__background-effects: '.s__background-effects';

// Document initialized
$s__doc-initialized: '.s__doc-initialized';

// Section visiblity
$s__section-visible: '.s__section-visible';
$s__section-hidden: '.s__section-hidden';

// Nav highlight
$s__nav-highlight: '.s__nav-highlight';